[Unit]
Description=Set autologin to gamescope on logout
PartOf=graphical-session.target
After=graphical-session.target
ConditionPathExists=!%t/gamescope-environment
StartLimitIntervalSec=10
StartLimitBurst=3

[Service]
Type=oneshot
ExecStart=/usr/bin/pkexec /usr/lib/steamos/steam-set-session gamescope-session.desktop

[Install]
WantedBy=graphical-session.target
