[Unit]
Description=Gamescope Session
Before=graphical-session.target
PartOf=graphical-session.target
Wants=graphical-session-pre.target
After=graphical-session-pre.target
RefuseManualStart=yes
# The XDG desktop portal frontend relies on the value of $XDG_CURRENT_DESKTOP to
# decide which backends to load, so its startup should be delayed until after
# the session is running.
Before=xdg-desktop-portal.service

[Service]
TimeoutStartSec=5
TimeoutStopSec=30
KillMode=mixed
ExecStart=/usr/lib/steamos/gamescope-session
ExecStopPost=/usr/bin/bash -c '/usr/bin/rm -rf "$XDG_RUNTIME_DIR"/gamescope{.,-}* /tmp/gamescope-limiter*'
Type=notify
NotifyAccess=all
# Make Steam's srt-logger write to the journal with it's own prefixes
# SDDM sets XDG_SESSION_TYPE to wayland but apps using Gamescope must use x11
Environment="SRT_LOG_TO_JOURNAL=1" "XDG_SESSION_TYPE=x11"
# Remove these as they prevent gamescope-session from starting correctly
UnsetEnvironment=DISPLAY XAUTHORITY
Slice=session.slice
